{% extends 'basic.html' %}
{% load static %}

{% block title %}
Tracker
{% endblock %}

{% block css %}
    <style></style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Real-Time Quotes</h1>
    <p>Choose stocks for hunting</p>

    <form action="/tracker">
        <label for="picker">Select a few to track:</label>
        <select class="form-select form-select-lg mb-3" multiple aria-label="multiple select example"
            name="picker">
            {% for i in stocks %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
    <script></script>
{% endblock %}

