<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compute the future value</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<form action="" method="post" id="post-form">
    {% csrf_token %}
    {{ form }}
    <div id="result" >{{ result }}</div>
    <input type="submit" value="Submit">
</form>
<script>
$(document).ready(
  $('#post-form').submit(function(e){
    e.preventDefault();
    var serializedData = $(this).serialize();

    $.ajax({
      type:"POST",
      url: "/your_url/",
      data:  serializedData,
      success: function(data){
        $("#result").text(data["result"]);
      },
    });
  })
);
</script>
</body>
</html>